@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello World </h1>
    <h2>msg from asp.net app</h2>
    <p>Learn about <a href="https://github.com/AprilXu8168/dreamChaser/tree/main/todoList">my app building</a>.</p>
    <p>Hello, world! The time on the server is @DateTime.Now</p>
</div>
